@media (max-width: 768px) {
  .nav-toggle {
    display: flex !important;
  }

  .main-nav {
    display: none;
    flex-direction: column;
  }

  .main-nav.open {
    display: flex;
  }


.nav-toggle.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}


.nav-toggle.open span:nth-child(2) {
  opacity: 0;
}


.nav-toggle.open span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
}