body {
  font-family: Arial;
  margin: 0;
}

/* NAV */
nav ul {
  display: none;
}

nav ul.show {
  display: block;
}

@media (min-width: 768px) {
  nav ul {
    display: flex;
  }
  #menuBtn {
    display: none;
  }
}

/* CARDS */
.card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
}

/* MODAL */
#modal {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
}

.hidden {
  display:none;
}